---
import { profile } from '../../settings'

const { fullName } = profile
---

<footer class='footer footer-center bg-base-100 text-base-content px-4 py-8'>
	<aside>
		<p>
			Copyright ©️​ {new Date().getFullYear()} - Tous droits réservés
		</p>
		<p>
			Construit par <a
				href='https://github.com/BBaptiste22/Portfolio/'
				class='font-bold'
				target='_blank'>BERNARD Baptiste</a
			> ©️​
		</p>
	</aside>
</footer>
